@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/*==========CSS RESET============*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*==========ROOT VARIABLE============*/
:root {
    /* Kleuren */
    --color-purple: #5722CD;
    --color-blue: #4845E4;
    --color-pink: #ED4385;
    --color-black: #0C0C0C; /* Standaard tekst */
    --color-light-purple: #F2F0FF; /* Grote zwevende woorden */
    --color-light-gray: #F3F6F9; /* Achtergrond van projecten */
    --color-gray: #7A7A7A; /* Service-tegel tekst */

    /* FONTS */
    --font-heading: 'Merriweather', serif;
    --font-body: 'Roboto', sans-serif;


}

/* Algemene reset of basisinstellingen */

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.6;
    color: #222;
    background-color: #fff;
    margin: 0;
    padding: 0;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Merriweather', serif;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0.5em;
    line-height: 1.2;
}


p {
    margin-bottom: 1em;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    cursor: pointer;
}

/* HEADER MET BACKGROUND */
.container-header {
    position: relative;

    height: auto;
    background-image: linear-gradient(164deg, rgba(72, 69, 228, 1) 0%, rgba(87, 34, 205, 1) 69%);
    padding: 0 20px
}


.break {
    display: block;
    text-align: center;
}


/*  NAVIGATIEBALK  */

.nav-bar {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.nav-bar li a {

    text-decoration: none;
    color: white;
    font-family: 'Roboto', serif;

}

.nav-bar ul {
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    font-size: 18px;
    display: flex;
    gap: 40px;
    list-style: none;
    padding: 0;
    margin: 20px 100px 0 0;

}

/*HERO CONTENT*/

.hero-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 100px;
    gap: 25px;

}

.hero-container h1 {
    font-size: 3rem;
    color: white;
}

.hero-container p {
    font-size: 1.5rem;
    color: white
}


.hero-container button {
    border: none;
    color: white;
    font-weight: lighter;
    background-color: #ED4385;
    border-radius: 30px;
    font-size: 15px;
    padding: 20px 30px 20px 30px;
    box-shadow: #3a3939 -1px 4px 20px 2px;
    text-transform: uppercase;


}

/*MAIN*/

.main-container {
    margin: 80px 0;
    overflow: hidden;
    flex-basis: 1200px;

}

.main-hello-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    height: 500px;

}

.main-h2 {
    position: relative;
    text-align: center;
    align-items: center;
    color: var(--color-purple);


}

.main-p {
    position: relative;
    text-align: center;
    align-items: center;
    color: var(--color-black);
}

.content::before {
    content: "hello";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-size: 25rem;
    color: var(--color-light-purple);
    font-family: "Roboto", sans-serif;
    font-weight: bold;
}

.hero-image {
    display: flex;
    align-items: center;
    justify-content: center;

}

/*PROJECTEN*/

/*CONTAINER ZELF*/
.project-container {
    display: flex;
    position: relative;
    flex-direction: column;
    background-color: var(--color-light-gray);
    min-height: 100vh;
}

/*WORK OP ACHTERGROND*/
.content-work::before {
    content: "work";
    position: absolute;
    top: 30%;
    left: 55%;
    transform: translate(-50%, -50%);
    font-size: 50rem;
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
}

/*Rolling Stone*/
.project-containers {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100vw;
    justify-content: space-evenly;

}

.projects {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-top: 450px;

}

/*ROW-REVERSE*/
.project-containers:nth-child(even) {
    flex-direction: row-reverse;

}


.rolling-stone-content {
    display: flex;
    flex-direction: column;
    height: 400px;
    max-width: 300px;
    justify-content: center;


}

.rolling-stone-content img {
    width: 80px;
    padding-bottom: 20px;
}

.rolling-stone-content p {
    padding: 20px 0;
}

.rolling-stone-image {
    max-width: 100%;
    box-shadow: #b4a9a9 0 5px 20px 0;

}

/*Variety*/

.project-containers {
    display: flex;
    flex-direction: row;
    position: relative;

}

.variety-content {
    display: flex;
    flex-direction: column;
    height: 400px;
    max-width: 300px;
    margin-left: -300px;
    justify-content: center;

}

.variety-content img {
    width: 80px;
    padding-bottom: 20px;

}

.variety-content p {
    padding: 20px 0;
}

.variety-image {
    height: 400px;
    max-width: 100%;
    box-shadow: #b4a9a9 0 5px 20px 0;
}


/*MEDIA*/

@media (max-width: 764px) {
    .hero-container {
        text-align: center;

    }
}