@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/*==========CSS RESET============*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*==========ROOT VARIABLE============*/
:root {
    /* Kleuren */
    --color-purple: #5722CD;
    --color-blue: #4845E4;
    --color-pink: #ED4385;
    --color-black: #0C0C0C; /* Standaard tekst */
    --color-light-purple: #F2F0FF; /* Grote zwevende woorden */
    --color-light-gray: #F3F6F9; /* Achtergrond van projecten */
    --color-gray: #7A7A7A; /* Service-tegel tekst */

    /* FONTS */
    --font-heading: 'Merriweather', serif;
    --font-body: 'Roboto', sans-serif;




}

/* Algemene reset of basisinstellingen */

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.6;
    color: #222;
    background-color: #fff;
    margin: 0;
    padding: 0;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Merriweather', serif;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0.5em;
    line-height: 1.2;
}


p {
    margin-bottom: 1em;
}


/* HEADER MET BACKGROUND */
.container-header {
    position: relative;
    border: 2px dashed lightgray;
    height: auto;
    background-image: linear-gradient(164deg, rgba(72, 69, 228, 1) 0%, rgba(87, 34, 205, 1) 69%);
    padding: 0 20px
}


.break {
    display: block;
    text-align: center;
}


/*  NAVIGATIEBALK  */

.nav-bar {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.nav-bar li a {

    text-decoration: none;
    color: white;
    font-family: 'Roboto', serif;

}

.nav-bar ul {
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    font-size: 18px;
    display: flex;
    gap: 40px;
    list-style: none;
    padding: 0;
    margin: 20px 100px 0 0;

}

/*HERO CONTENT*/

.hero-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 100px;
    gap: 25px;
}

.hero-container h1{
    font-size: 3rem;
    color: white;
}

.hero-container p{
    font-size: 1.5rem;
    color: white
}


.hero-container button {
    border: none;
    color: white;
    font-weight: lighter;
    background-color: #ED4385;
    border-radius: 30px;
    font-size: 15px;
    padding: 20px 30px 20px 30px;
    box-shadow: #3a3939 -1px 4px 20px 2px;
    text-transform: uppercase;


}

/*MAIN*/

.main-container {

    padding: 30px 0 30px 0;
    border: 2px dashed red;
    overflow: hidden;
    flex-basis: 1200px;

}

.main-hello-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 400px;
}

.main-h2 {
    position: relative;
    text-align: center;
    align-items: center;
    color: var(--color-purple);

}

.content::before {
    content: "HELLO";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-size: 15rem;
    color: var(--color-light-purple);
    font-family: "Roboto", sans-serif;

}

/*PROJECTEN*/

.main-work-container{
    background-color: var(--color-light-gray);

}
.content-work:nth-child(even){
    flex-direction: row-reverse;
}

.content-work{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    margin: 0 auto;
    padding: 40px 20px;
    border: 2px solid red;
    flex-wrap: wrap;

}

.text-work{

    border: 2px solid red;
    padding: 10px 40px;
    margin-left: 40px;
    margin-right: 40px;
    flex: 1 1 400px;

}

.image-wrapper{
    flex-basis: 600px;
    flex-shrink: 1;
    border: 1px solid red;

}
.image-wrapper img{
    max-width: 100%;
    box-shadow: #3a3939 -1px 4px 20px 2px;
    height: auto;
}







